# Ignore Firebase service account key
backend/config/firebaseServiceAccountKey.json
backend/config/firebaseServiceAccountKey.json.json


# Node modules
node_modules/

# Logs
logs/
*.log

# Environment files
.env
